{
  "ignore": [
    "node_modules/**"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 2 versions", "safari >= 7"]
            },
            "modules": false
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-flow-strip-types",
        "@babel/plugin-syntax-object-rest-spread"
      ]
    },
    "testing": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions", "safari >= 7"]
            }
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-flow-strip-types",
        "@babel/plugin-syntax-object-rest-spread"
      ]
    },
    "docs": {
      "plugins": [
        "@babel/plugin-transform-flow-strip-types",
        "@babel/plugin-syntax-object-rest-spread"
      ]
    }
  }
}
